@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.visor {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    max-width: 80%;
    min-width: 70%;
    max-height: 15%;
    min-height: 10%;
    margin-top: 40px;
    background-color: rgb(235, 243, 167);
    border-radius: 10px;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: left;
    padding-right: 25px;
}